---
interface SampleLayoutProps {
  title: string;
  children: unknown; // You can specify a more precise type based on your use case
}

const { title, children } = Astro.props as SampleLayoutProps; // Cast props to your interface
---

<header>
  <h1>{title}</h1>
</header>
<main>
  {children} <!-- Render the children passed to the layout -->
</main>